*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body
{
    min-height: 100vh;
    display: grid;
    background-image: url('Img/background/background.jpg');
    background-size: cover;
    background-position: center;
}

ul
{
    margin-right: 100px;

}


li
{
    list-style: none;
    padding: 50px;
}

a
{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

a:hover
{
    color: orange;
    
}

header
{  
    position: sticky;
    gap: 2px;
    position: relative;
    padding: 0 2rem;
    top: 0;
}

.navbar
{
    position:sticky;
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a
{
    font-size: 2rem;
    font-weight: bold;
    color: orange
}

.navbar .links
{
    display: flex;
    gap: 2rem;
}



/*********************************************/



.slider
{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track
{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}



@keyframes scroll 
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(calc(-250px*9));
    }
}

.slide
{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

img
{
    width: 100%;
    transition: transform 1s;
}

img:hover
{
    transform: translateZ(20px);
}

.img
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    border: 2px solid black;
}

.insert
{
    width: 100%;
    border: 2px solid black;
    background-size: cover;
    padding: 5px;
    background-color: black;
    display: flex;
    border-radius: 2px;
    box-shadow: 10px 10px 10px white;
}

.g
{
    background-color: black;
    cursor: pointer;
    opacity: 0.9;
}



/***************************************/



.container
{
    width: 100%;
    background-color: transparent;
    
    margin: auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

ul
{
    list-style: none;
}

.footer
{
    background-image: url('Img/slider/07.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    border: 5px solid black;
    border-radius: 5px;

}

.footer-col
{
    width: 25%;
    padding: 0 15px;
    position: relative;
}

.list
{
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

h2
{
    color: white;
    text-decoration: underline red;
}

.footer-col h4::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 5px;
}

.footer-col ul li a
{
    transition: all 0.3s ease;
}

.footer-col ul li a:hover
{
    color: #ffffff;
    padding-left: 8px;
    color: orange;
}

ul li
{
    padding: 15px;
}

.social
{
    display: flex;
    padding: 5px;
    align-items: center;;
    justify-content: center;
    width: 5px;
}

.facebook, .instagram, .twitter, .linkedin
{
    width: 500px;
    background-color: white;
    border: 2px solid white;
    color: black;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    place-items: center;
    margin-left: 80px;
    transition: all 0.3s ease;
}

.social:hover
{
    padding-left: 8px;
    background-color: 2 px solid orange;
}



/******************************************/

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h1
{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form
{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field
{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input
{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label
{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before
{
    content:'';
    position:absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~label
{
    top: -5px;
    color:#2691d9;
}

.txt_field input:focus ~ label::before,
.txt_field input:valid ~label::before
{
    width: 100%;
}

.pass
{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover
{
    text-decoration: underline;
}

input[type = "submit"]
{
    width: 100%;
    height: 50px;
    border: 1px solid #2691d9;
    background-color: #2691d9;
    cursor: pointer;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    outline: none;
    box-shadow: 5px 5px 5px black;
}

input[type = "submit"]:hover
{
    border-color: #0099ff;
    transition: .5s;
    background-color: #0099ff;
}

.signup_link
{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a
{
    color: #2691d9;
    text-decoration: none;
}

.signup_link a:hover
{
    text-decoration: underline;
}

input[type = "submit"]:active
{
    background-color: #0099ff;
    box-shadow: 0px 0px 0px white;
}
